.container-header {
    height: 10vh;
    background-color: #FF7A59;
}

.headingname {
    display: inline;
    margin-left: 38%;

}

.header_icon {
    margin-left: 2vh;
    margin-top: 1vh;
    width: 8vh;
    height: 8vh;
    float: left;
    border-radius: 50%;
}

.link-button {
    background-color: #FFEDE9;
    border-radius: 30px;
    padding: 0.5rem;
    margin: 10px 10px;
    float: right;
    color: #5568FA;
    font-size: 1.5rem;
    text-transform: none;
    text-decoration: none;
    color: #FF7A59;
}

.link-button:hover {
    background-color: white;
    color: #FF7A59;
    text-decoration: none;
    text-transform: none;
}

.link-heading {
    text-decoration: none;
    text-transform: none;
}

.link-heading:hover {
    text-decoration: none;
    text-transform: none;
}