.home-img {
    width: 55%;
    height: 75vh;
    float: right;
    margin-top: 5%;

}

.heading {
    width: 35%;
    float: left;
    color: rgb(41, 41, 129);
    font-size: 50px;
    margin-left: 10%;
}

.btn-getstarted {
    padding: 3%;
    font-size: 28px;
    background-color: #263239;
    color: #FCA312;
    border-radius: 30px;
}

.btn-getstarted:hover {
    padding: 3%;
    font-size: 28px;
    background-color: white;
    color: #263239;
    border-radius: 30px;
}

main {
    margin-top: 8%;
}