.home-img {
    width: 55%;
    height: 75vh;
    float: right;
    margin-top: 5%;

}

.heading {
    width: 35%;
    float: left;
    color: rgb(41, 41, 129);
    font-size: 50px;
    margin-left: 10%;
}

.btn-getstarted {
    padding: 3%;
    font-size: 28px;
    background-color: #263239;
    color: #FCA312;
    border-radius: 30px;

}

.notfound_img {
    height: 80vh;
}

.notfound_container {
    height: 80vh;
    margin: 5% 5%;
    display: block;
}

.btn-getstarted:hover {
    padding: 3%;
    font-size: 28px;
    background-color: white;
    color: #263239;
    border-radius: 30px;
    text-transform: none;
    text-decoration: none;
}

main {
    margin-top: 8%;
}