.viewissue-form {
    width: 35%;
    margin: 10% auto;
    border: 2px solid black;
    padding: 5%;
    background-color: rgb(238, 232, 232);

}

.createissue-form {
    width: 35%;
    margin: 5% auto;
    border: 2px solid black;
    padding: 5%;
    background-color: rgb(238, 232, 232);

}

.view-area {
    margin: 5% 5%;
    display: inline-block;
}

.High {
    border: red solid 2px;
    background-color: rgb(255, 232, 232);
    z-index: 1;
}

.Low {
    border: green solid 2px;
    background-color: rgb(241, 252, 225);
    z-index: 1;
}

.Medium {
    border: rgb(126, 126, 233) solid 2px;
    background-color: rgb(219, 229, 245);
    z-index: 1;
}

.mycard {}